/* Default Styles */
:root {
	--clr-dark: 0 0% 13%; /*hsl(0, 0%, 13%) */
	--clr-gold: 44 78% 48%; /* hsl(44, 78%, 48%) */
	--clr-white: 0 0% 100%; /*hsl(0, 0%, 100%)*/
	--clr-gray: 240 2 25; /* hsl(240, 2%, 25%) */
	--clr-accent: 0 0 80%; /* hsl(0, 0%, 80%) */
	--clr-light: 0 0% 33%; /* hsl(0, 0%, 33%)*/
	--clr-nav: 240 29% 6; /*hsl(240, 29%, 6%)*/

	/* font-sizes */
	--fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
	--fs-800: 3.5rem;
	--fs-700: 2.5rem;
	--fs-600: 1.5rem;
	--fs-500: 1rem;
	--fs-400: 0.9375rem;
	--fs-300: 1rem;
	--fs-200: 0.875rem;

	/* font-families */
	--ff-sans-disp: "Noto Sans Display", sans-serif;
	--ff-sans-normal: "Noto Sans", sans-serif;
}

@media (min-width: 35em) {
	:root {
		--fs-800: 5rem;
		--fs-700: 2.5rem;
		--fs-600: 1.5rem;
		--fs-500: 1.25rem;
		--fs-400: 1rem;
	}
}

@media (min-width: 45em) {
	:root {
		/* font-sizes */
		--fs-800: 6.25rem;
		--fs-700: 3.5rem;
		--fs-600: 2rem;
		--fs-500: 1.75rem;
		--fs-400: 1.125rem;
	}
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture,
main {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

/* set up the body */
body {
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-400);
	color: hsl(var(--clr-white));
	background-color: hsl(var(--clr-dark));
	line-height: 1.5;
	min-height: 100vh;
	background-repeat: no-repeat;
	margin: 0%;
	overflow-x: hidden;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
	font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.d-block {
	display: block;
}

.flow > *:where(:not(:first-child)) {
	margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
	--flow-space: 0.75rem;
}

.container {
	padding-inline: 2em;
	margin-inline: auto;
	max-width: 80rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}

/* colors */

.bg-dark {
	background-color: hsl(var(--clr-dark));
}
.bg-accent {
	background-color: hsl(var(--clr-light));
}
.bg-white {
	background-color: hsl(var(--clr-white));
}

.text-dark {
	color: hsl(var(--clr-dark));
}
.text-accent {
	color: hsl(var(--clr-light));
}
.text-white {
	color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
	font-family: var(--ff-serif);
}
.ff-sans-disp {
	font-family: var(--ff-sans-display);
}
.ff-sans-normal {
	font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
	letter-spacing: 4.75px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}

.fs-900 {
	font-size: var(--fs-900);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-200 {
	font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 1.1;
}
/* End Default Styles */

/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */

.grid-container {
	text-align: center;
	display: grid;
	/* place-items: center; */
	padding-inline: 1rem;
	padding-bottom: 4rem;
	/* margin: 0 5rem; */
	column-gap: var(--container-gap, 5rem);
	grid-template-columns: minmax(1rem, 1fr) repeat(4, minmax(0, 40rem)) minmax(1rem, 1fr);
}

/* Navbar */
.primary-header {
	max-width: 100%;
	height: 10rem;
	background-color: hsl(var(--clr-dark));
	/* position: fixed; */
	z-index: 100;
	align-items: center;
	justify-content: center;
	padding: 0 8rem;
	grid-column: span 4;
}

.brand-navbar span {
	font-size: 3rem;
	letter-spacing: 0.3rem;
	color: hsl(44, 78%, 48%);
}

.navigation {
	padding-inline: 3.5%;
}

.navigation a {
	font-family: var(--ff-sans-normal);
	font-size: 1.5rem;
	letter-spacing: 0.3rem;
	color: #fff;
	text-decoration: none;
	padding: 1rem;
	color: #ccc;
}

.navigation a:hover {
	color: hsl(44, 78%, 48%);
}

.search-bar {
	position: relative;
}

.search-bar input,
.search-bar select {
	width: 35rem;
	height: 4rem;
	background-color: hsl(0, 0%, 33%);
	border: none;
	padding: 2rem 2rem 2rem 4rem;
	font-size: 1.6rem;
	border-radius: 0.5rem;
}

.search-bar input::placeholder {
	color: #ccc;
}

.search-bar *:focus {
	outline: none;
}

.search-bar i {
	top: 50%;
	transform: translateY(-50%);
	left: 1.5rem;
	position: absolute;
	font-size: 1.6rem;
	color: #ccc;
}
/* End Navbar */

/* Landing */
.landing {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90vh;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

/* .blur {
	width: 100%;
	height: 100%;
	border: 5px solid purple;
} */

.landing::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 90vh;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 1;
}

.slider-container {
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
	height: 70vh;
	width: 70vw;
	margin-top: 5rem;
	position: relative;
	overflow: hidden;
}

.slide {
	opacity: 0;
	height: 100vh;
	width: 100vw;
	background-position: center;
	background-size: cover;
	position: absolute;
	top: -15vh;
	left: -15vw;
	transition: 0.4s ease;
	z-index: 3;
}

#slide2 {
	background-position-y: 10%;
}

#slide3 {
	background-size: 90%;
	background-position-x: -55%;
	background-position-y: -10%;
}

#slide4 {
	background-size: 90%;
	/* background-position-x: -25%; */
	background-position-y: 90%;
}

.slide.active {
	opacity: 1;
}

.arrow {
	position: absolute;
	background-color: transparent;
	padding: 20px;
	border: 5px solid hsl(44, 78%, 48%);
	top: 50%;
	transform: translateY(-50%);
	cursor: pointer;
	z-index: 2;
}

.arrow:focus {
	outline: 0;
}

.left-arrow {
	left: calc(15vw - 92px);
}

.right-arrow {
	right: calc(15vw - 92px);
}

.banner {
	bottom: 1rem;
	padding-top: 1rem;
	z-index: 3;
}

.banner-heading {
	font-family: var(--ff-sans-normal);
	line-height: 2;
	margin-right: 2rem;
}

.banner-content {
	align-items: center;
	justify-content: space-between;
}

.banner-content p {
	width: 50rem;
	/* font-size: 1.5rem; */
	margin-right: 2.5rem;
	line-height: 1.5;
	text-align: left;
}

.banner-content button {
	width: 15rem;
	height: 5rem;
	background-color: transparent;
	border: 0.3rem solid #fff;
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}
.banner-content button:hover {
	color: #dba81b;
}

/* End body */

/* About */
.about {
	height: 80vh;
	background-color: #313133;
}

.grid-container-about {
	grid-template-areas: ". about-left about-left about-right about-right .";
	column-gap: var(--container-gap, 5rem);
	text-align: left;
	align-items: center;
}

.grid-container-about .about-left {
	grid-area: about-left;
	margin-right: 5rem;
	flex-direction: column;
	justify-self: flex-end;
}

.grid-container-about .about-right {
	grid-area: about-right;
	flex-direction: column;
	justify-self: flex-start;
}

.about-left h1 {
	font-family: var(--ff-sans-disp);
	line-height: 1.3;
	width: 40rem;
	margin-bottom: 3rem;
}

.about-left p {
	width: 40rem;
	line-height: 1.75;
	margin-bottom: 5rem;
}

.about-left button {
	width: 18rem;
	height: 5rem;
	background-color: transparent;
	border: 0.2rem solid #dba81b;
	color: #dba81b;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	cursor: pointer;
}

.about-left button:hover {
	color: #fff;
}

.about-img-wrapper {
	width: 80rem;
	height: auto;
}

.about-img-wrapper img {
	width: 70%;
	height: auto;
	/* object-fit: cover; */
}

.caption h3 {
	/* font-size: 1.5rem; */
	letter-spacing: 0.2rem;
	margin-top: 2rem;
	width: 70%;
}
/* End About */

/* Projects */
.projects .grid-container-projects {
	display: grid;
	grid-template-columns: minmax(5rem, 1fr) repeat(4, minmax(0, 40rem)) minmax(5rem, 1fr);
	grid-template-areas:
		". title title title title ."
		". a b c d ."
		". e f g h .";
	column-gap: var(--container-gap, 5rem);
	grid-template-rows: repeat(3, min-content);
	row-gap: var(--container-gap, 8rem);
	align-items: center;
	text-align: left;
}

.projects {
	height: auto;
	padding-bottom: 15rem;
}

.projects-heading {
	/* font-size: 6rem; */
	margin: 10rem 0 0rem 0;
	letter-spacing: 0.8rem;
	grid-area: title;
	text-align: center;
}

.card1 {
	grid-area: a;
}
.card2 {
	grid-area: b;
}
.card3 {
	grid-area: c;
}
.card4 {
	grid-area: d;
}
.card5 {
	grid-area: e;
}
.card6 {
	grid-area: f;
}
.card7 {
	grid-area: g;
}
.card8 {
	grid-area: h;
}

.card .img-wrapper img {
	/* width: 40rem; */
	height: 40rem;
	object-fit: cover;
}

.card-content {
	width: 100%;
	height: 100%;
	text-align: left;
}

.card-btn {
	width: 18rem;
	height: 5rem;
	background-color: transparent;
	border: 0.2rem solid #dba81b;
	color: #dba81b;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	cursor: pointer;
}

.card-content .card-btn:hover {
	color: #fff;
}

.card-content h1 {
	font-size: 2rem;
	color: #fff;
	margin-top: 3rem;
}

.card-content p {
	font-size: 1.6rem;
	color: #fff;
	margin-bottom: 4rem;
}
/* End Projects */

/* Team */
.team {
	height: auto;
	background-color: #313133;
	padding: 2.5rem 0;
}

.team .grid-container-team {
	display: grid;
	grid-template-columns: minmax(5rem, 1fr) repeat(4, minmax(0, 40rem)) minmax(5rem, 1fr);
	grid-template-areas:
		". a b c d ."
		". e f g h.";
	column-gap: var(--container-gap, 5rem);
	grid-template-rows: repeat(2, min-content);
	row-gap: var(--container-gap, 18rem);
	align-items: center;
	text-align: left;
}

#principal {
	grid-area: a;
}

#team-card2 {
	grid-area: b;
}

#team-card3 {
	grid-area: c;
}
#team-card4 {
	grid-area: d;
}

#team-card5 {
	grid-area: e;
}

#team-card6 {
	grid-area: f;
}

#team-card7 {
	grid-area: g;
}

#team-card8 {
	grid-area: h;
}

.team-heading {
	margin: 10rem 0 0rem 0;
	letter-spacing: 0.8rem;
	text-transform: uppercase;
	text-align: center;
}

.team-content {
	width: 100%;
	margin: 20rem auto;
}

.team-card {
	position: relative;
}

.team-card img {
	width: 20rem;
	height: 20rem;
	object-fit: cover;
	object-position: 50% 50%;
	position: absolute;
	top: -10rem;
	left: 8rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

#principal img {
	object-position: top center;
}

#team-card2 img {
	object-position: top center;
}

#team-card3 img {
	object-position: top center;
}

#team-card4 img {
	object-position: top 20px center;
}

#team-card5 img {
	object-position: top center;
}

#team-card6 img {
	object-position: top center;
}

#team-card7 img {
	object-position: top center;
}

#team-card8 img {
	object-position: top center;
}

.team-card-content {
	width: 36rem;
	height: 45rem;
	background-color: #777;
	border-radius: 0.5rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	padding: 4rem 4rem 0 4rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}

.team-card-content h1 {
	font-size: 2.5rem;
	color: #fff;
	margin-top: 2rem;
}

.team-card-content h3 {
	font-size: 1.8rem;
	color: #ccc;
	margin-bottom: 3rem;
}

.team-card-content i {
	font-size: 2rem;
	color: #fff;
}

.team-card-content p {
	font-size: 1.6rem;
	color: #fff;
}
/* End Team */

/* Footer */
.footer {
	width: 100%;
	height: auto;
	background-color: #202020;
	border-top: 0.1rem solid #3e3e41;
}

.footer-content {
	padding: 5rem;
}

.brand-footer {
	align-items: flex-start;
	justify-content: space-evenly;
	padding: 0 5rem;
}

.brand-footer span {
	font-size: 2rem;
	line-height: 2.25;
}

.brand-footer p {
	font-size: 1.5rem;
}

.brand-footer #location2 {
	padding-top: 1rem;
}
/* End Footer */
/* Contacts */
.contact-right input,
.contact-right select {
	width: 40rem;
	height: 4rem;
	background-color: transparent;
	padding: 1.5rem 1.5rem 2.2rem 0;
	border: none;
	border-bottom: 0.1rem solid #777;
	font-size: 1.8rem;
	color: #ccc;
	transition: border-bottom 0.3s;
}

.contact-right input:hover {
	border-bottom: 0.1rem solid #dba81b;
}

.contact-right *:focus {
	outline: none;
}
.contact-right input::placeholder {
	color: #ccc;
	font-size: 1.5rem;
	letter-spacing: 0.1rem;
}

.contact-right {
	position: relative;
	flex-direction: column;
}

.contact-right i {
	font-size: 1.8rem;
	position: absolute;
	top: 65%;
	right: 0;
	color: #ccc;
	cursor: pointer;
}
/* End Contacts */

/* End Container */

/* Responsive Design */
/* @media (max-width: 1700px) {
	.landing {
		height: 88vh;
	}
	.banner {
		left: 12rem;
	}

	.about-right {
		margin-right: 20rem;
	}

	.frame {
		width: 45rem;
		height: 30rem;
		right: 20rem;
	}

	.about-img-wrapper {
		width: 45rem;
		height: 30rem;
		right: 13rem;
	}

	.experience {
		right: 20rem;
	}

	.projects {
		height: 100%;
	}

	.cards {
		width: 80%;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 25rem;
	}

	.card {
		margin: 1.5rem;
	}

	.customers-content {
		width: 90%;
	}

	.client {
		right: 20rem;
	}

	.contact-content {
		width: 90%;
	}

	.brand-footer {
		left: 16%;
	}

	.copyright {
		right: 16%;
	}
}

@media (max-width: 1400px) {
	html {
		font-size: 55%;
	}

	.frame {
		width: 40rem;
		height: 25rem;
		right: 15rem;
	}

	.about-img-wrapper {
		width: 40rem;
		height: 25rem;
		right: 8rem;
	}

	.experience {
		right: 12rem;
	}
}

@media (max-width: 1200px) {
	html {
		font-size: 49%;
	}

	.about-left p {
		width: 40rem;
	}

	.customers-content {
		width: 100%;
	}

	.client {
		right: 10rem;
	}

	.contact-content {
		width: 100%;
	}

	.brand-footer {
		left: 10%;
	}

	.copyright {
		right: 10%;
	}
}

@media (max-width: 900px) {
	html {
		font-size: 45%;
	}

	.search-bar input {
		width: 30rem;
	}

	.banner-heading {
		font-size: 7rem;
		text-transform: uppercase;
	}

	.banner-heading span {
		font-size: 7rem;
	}

	.banner-content p {
		font-size: 1.7rem;
		width: 35rem;
	}

	.about {
		align-items: flex-start;
		padding-top: 12rem;
		height: 50vh;
	}

	.about-left h1 {
		font-size: 3rem;
		width: 35rem;
	}

	.about-left p {
		width: 35rem;
		font-size: 1.7rem;
	}

	.frame {
		width: 30rem;
		height: 15rem;
		border: 1.5rem solid #555;
		right: 10rem;
	}

	.about-img-wrapper {
		width: 30rem;
		right: 7rem;
		top: 12rem;
		height: 15rem;
	}

	.experience {
		right: 7rem;
	}

	.customers {
		height: 100%;
		padding-bottom: 12rem;
	}

	.customers-content {
		flex-direction: column;
		align-items: center;
	}

	.customers-card {
		margin: 8rem;
	}

	.contact-content {
		flex-direction: column;
		align-items: center;
	}

	.contact-left {
		margin-bottom: 4rem;
	}
}
 */
@media (max-width: 600px) {
	html {
		font-size: 35%;
	}

	.navigation a {
		display: none;
	}

	.landing {
		height: 50vh;
	}

	.landing::before {
		height: 50vh;
	}

	.banner {
		left: 5rem;
	}

	.banner-heading {
		font-size: 5rem;
		text-transform: uppercase;
	}

	.banner-heading span {
		font-size: 5rem;
	}
	/* About Section */
	.grid-container-about .about-left {
		margin-right: 0;
	}
	.grid-container-about {
		grid-template-columns: minmax(0.5rem, 1fr) 1fr minmax(1rem, 1fr);
		grid-template-areas:
			". about-left ."
			". about-right .";
		column-gap: var(--container-gap, 2rem);
		align-items: center;
	}

	.about {
		justify-content: center;
		align-items: center;
		height: 100%;
		padding: 10rem 0 10rem 0;
	}

	.about-left {
		text-align: center;
		align-items: center;
	}

	.about-right {
		display: none;
	}

	.about-left h1 {
		width: 60rem;
		font-size: 3.5rem;
		line-height: 1.5;
		margin-bottom: 3rem;
	}

	.about-left p {
		font-size: 2.5rem;
		width: 60rem;
		line-height: 1.75;
		margin-bottom: 5rem;
	}
	/* End About */

	/* Projects  */
	.projects {
		justify-content: center;
	}
	.projects .grid-container-projects {
		grid-template-columns: 1fr;
		grid-template-areas:
			"title"
			"a"
			"b"
			"c"
			"d"
			"e"
			"f"
			"g"
			"h";
		column-gap: var(--container-gap, 1rem);
		grid-template-rows: repeat(8, auto);
		row-gap: var(--container-gap, 12rem);
	}

	.projects-heading {
		font-size: 6rem;
	}

	.cards {
		align-items: center;
		padding-inline: 8rem;
	}

	.card .img-wrapper img {
		width: 100%;
		height: 100%;
	}

	.card-content {
		text-align: center;
	}
	.customers-heading {
		font-size: 6rem;
	}

	.card-content h1 {
		font-size: 3rem;
		margin-top: 3rem;
	}

	.card-content p {
		font-size: 2rem;
		margin-bottom: 4rem;
	}
	/* End Projects */

	/* Team */

	.team .grid-container-team {
		grid-template-columns: minmax(0.5rem, 1fr) 1fr minmax(1rem, 1fr);
		grid-template-areas:
			". title ."
			". a ."
			". b ."
			". c ."
			". d ."
			". e ."
			". f ."
			". g ."
			". h .";
		column-gap: var(--container-gap, 2rem);
		grid-template-rows: repeat(8, min-content);
		row-gap: var(--container-gap, 16rem);
	}

	.team-heading {
		font-size: 6rem;
	}

	.team-card-content {
		width: 60rem;
		height: 80rem;
		padding: 6rem 6rem 0 6rem;
	}

	.team-card img {
		width: 30rem;
		height: 30rem;
		position: absolute;
		top: -10rem;
		left: 25%;
	}

	.team-card-content h1 {
		font-size: 4rem;
		color: #fff;
		margin-top: 2rem;
	}

	.team-card-content h3 {
		font-size: 2.5rem;
		color: #ccc;
		margin-bottom: 3rem;
	}

	.team-card-content i {
		font-size: 2.5rem;
	}

	.team-card-content p {
		font-size: 2.5rem;
		line-height: 1.75;
	}
	/* End Team */
	/* Footer */
	.brand-footer {
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		text-align: center;
		font-size: 6rem;
	}

	.brand-footer span {
		font-size: 3rem;
		line-height: 3.25;
	}

	.brand-footer p {
		font-size: 2rem;
	}

	.contact-right input,
	.contact-right select {
		font-size: 2.5rem;
	}
	/* End Footer */
}

/* End Responsive Design */
