/* Default Styles */
:root {
	--clr-dark: 0 0% 13%; /*hsl(0, 0%, 13%) */
	--clr-gold: 44 78% 48%; /* hsl(44, 78%, 48%) */
	--clr-white: 0 0% 100%; /*hsl(0, 0%, 100%)*/
	--clr-gray: 240 2 25; /* hsl(240, 2%, 25%) */
	--clr-accent: 0 0 80%; /* hsl(0, 0%, 80%) */
	--clr-light: 0 0% 33%; /* hsl(0, 0%, 33%)*/
	--clr-nav: 240 29% 6; /*hsl(240, 29%, 6%)*/

	/* font-sizes */
	--fs-900: clamp(5rem, 8vw + 1rem, 9.375rem);
	--fs-800: 3.5rem;
	--fs-700: 2rem;
	--fs-600: 1rem;
	--fs-500: 1rem;
	--fs-400: 0.9375rem;
	--fs-300: 1rem;
	--fs-200: 0.875rem;

	/* font-families */
	--ff-sans-disp: "Noto Sans Display", sans-serif;
	--ff-sans-normal: "Noto Sans", sans-serif;
}

@media (min-width: 35em) {
	:root {
		--fs-800: 5rem;
		--fs-700: 2.5rem;
		--fs-600: 1.5rem;
		--fs-500: 1.25rem;
		--fs-400: 1rem;
	}
}

@media (min-width: 45em) {
	:root {
		/* font-sizes */
		--fs-800: 6.25rem;
		--fs-700: 3.5rem;
		--fs-600: 2rem;
		--fs-500: 1.75rem;
		--fs-400: 1.125rem;
	}
}

/* ------------------- */
/* Reset               */
/* ------------------- */

/* https://piccalil.li/blog/a-modern-css-reset/ */

/* Box sizing */
*,
*::before,
*::after {
	box-sizing: border-box;
}

/* Reset margins */
body,
h1,
h2,
h3,
h4,
h5,
p,
figure,
picture {
	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	font-weight: 400;
}

/* set up the body */
body {
	font-family: var(--ff-sans-normal);
	font-size: var(--fs-400);
	color: hsl(var(--clr-white));
	background-color: hsl(var(--clr-dark));
	line-height: 1.5;
	min-height: 100vh;

	display: grid;
	/* grid-template-rows: min-content 1fr; */
}

/* make images easier to work with */
img,
picture {
	max-width: 100%;
	display: block;
}

/* make form elements easier to work with */
input,
button,
textarea,
select {
	font: inherit;
}

/* remove animations for people who've turned them off */
@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

/* ------------------- */
/* Utility classes     */
/* ------------------- */

/* general */

.flex {
	display: flex;
	gap: var(--gap, 1rem);
}

.grid {
	display: grid;
	gap: var(--gap, 1rem);
}

.d-block {
	display: block;
}

.flow > *:where(:not(:first-child)) {
	margin-top: var(--flow-space, 1rem);
}

.flow--space-small {
	--flow-space: 0.75rem;
}

.container {
	padding-inline: 2em;
	margin-inline: auto;
	max-width: 80rem;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* added line */
	border: 0;
}

/* colors */

.bg-dark {
	background-color: hsl(var(--clr-dark));
}
.bg-accent {
	background-color: hsl(var(--clr-light));
}
.bg-white {
	background-color: hsl(var(--clr-white));
}

.text-dark {
	color: hsl(var(--clr-dark));
}
.text-accent {
	color: hsl(var(--clr-light));
}
.text-white {
	color: hsl(var(--clr-white));
}

/* typography */

.ff-serif {
	font-family: var(--ff-serif);
}
.ff-sans-disp {
	font-family: var(--ff-sans-display);
}
.ff-sans-normal {
	font-family: var(--ff-sans-normal);
}

.letter-spacing-1 {
	letter-spacing: 4.75px;
}
.letter-spacing-2 {
	letter-spacing: 2.7px;
}
.letter-spacing-3 {
	letter-spacing: 2.35px;
}

.uppercase {
	text-transform: uppercase;
}

.fs-900 {
	font-size: var(--fs-900);
}
.fs-800 {
	font-size: var(--fs-800);
}
.fs-700 {
	font-size: var(--fs-700);
}
.fs-600 {
	font-size: var(--fs-600);
}
.fs-500 {
	font-size: var(--fs-500);
}
.fs-400 {
	font-size: var(--fs-400);
}
.fs-300 {
	font-size: var(--fs-300);
}
.fs-200 {
	font-size: var(--fs-200);
}

.fs-900,
.fs-800,
.fs-700,
.fs-600 {
	line-height: 1.1;
}
/* End Default Styles */

/* ----------------------------- */
/* Layout                        */
/* ----------------------------- */

.grid-container {
	text-align: center;
	display: grid;
	/* place-items: center; */
	padding-inline: 1rem;
	padding-bottom: 4rem;
	/* margin: 0 5rem; */
	column-gap: var(--container-gap, 5rem);
	grid-template-columns: minmax(1rem, 1fr) repeat(4, minmax(0, 40rem)) minmax(1rem, 1fr);
}

/* .grid-container p:not([class]) {
	max-width: 50ch;
} */

/* Navbar */
.primary-header {
	width: 100%;
	height: 10rem;
	background-color: hsl(var(--clr-dark));
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	align-items: center;
	justify-content: space-between;
	grid-column: span 4;
}

/* .logo {
	position: absolute;
	top: 1rem;
	left: 5rem;
	width: 5%;
	height: auto;
} */

.brand-navbar span {
	font-size: 3rem;
	color: hsl(0, 0%, 100%);
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	margin-left: 5rem;
}

/* .search-bar {
	right: 15rem;
	position: relat
} */

.search-bar input {
	width: 30rem;
	height: 4rem;
	background-color: hsl(240, 2%, 25%);
	border: none;
	padding: 2rem 2rem 2rem 4rem;
	font-size: 1.6rem;
	border-radius: 0.5rem;
	position: relative;
	margin-right: 1rem;
}

.search-bar input::placeholder {
	color: #ccc;
}

.search-bar i {
	position: absolute;
	top: 50%;
	/* left: 2rem; */
	transform: translateY(-50%);
	font-size: 1.6rem;
	color: #ccc;
}

.menu-icon {
	width: 4rem;
	height: 2.5rem;
	position: absolute;
	top: 50%;
	right: 8rem;
	transform: translateY(-50%);
	cursor: pointer;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	z-index: 100;
}

.line {
	width: 4rem;
	height: 0.2rem;
	background-color: hsl(0, 0%, 80%);
	transition: all 0.3s;
}

.change .line-1 {
	width: 55%;
	transform: rotateZ(-15deg) translate(-0.2rem, 0.8rem);
}

.change .line-3 {
	width: 55%;
	transform: rotateZ(15deg) translate(-0.2rem, -0.8rem);
}
/* End */

.navigation {
	height: 100vh;
	background-color: hsl(240, 29%, 6%);
	position: absolute;
	top: -100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: all 0.3s;
	/* z-index: 50; */
}

.change .navigation {
	top: 0;
}

.navigation a {
	font-family: var(--ff-sans-normal);
	font-size: 5rem;
	letter-spacing: 0.3rem;
	text-transform: uppercase;
	margin-bottom: 1rem;
	position: relative;
	opacity: 0;
	visibility: hidden;
}

.change .navigation a {
	opacity: 1;
	visibility: visible;
}

.change .navigation a:nth-child(1) {
	transition: all 0.3s 0.3s;
}

.change .navigation a:nth-child(2) {
	transition: all 0.3s 0.4s;
}

.change .navigation a:nth-child(3) {
	transition: all 0.3s 0.5s;
}

.change .navigation a:nth-child(4) {
	transition: all 0.3s 0.6s;
}

.change .navigation a:nth-child(5) {
	transition: all 0.3s 0.7s;
}

.change .navigation a:nth-child(6) {
	transition: all 0.3s 0.8s;
}

.navigation a::before {
	content: "";
	width: 15rem;
	height: 0.5rem;
	background-color: #dba81b;
	position: absolute;
	top: 50%;
	left: -17rem;
	transform: translateY(-50%);
	transform: scale(0);
	transform-origin: right;
	transition: 0.3s;
}

.navigation a:hover::before {
	transform: scale(1);
}

.navigation a::after {
	content: "";
	width: 15rem;
	height: 0.5rem;
	background-color: #dba81b;
	position: absolute;
	top: 50%;
	right: -17rem;
	transform: translateY(-50%);
	transform: scale(0);
	transform-origin: left;
	transition: 0.3s;
}

.navigation a:hover::after {
	transform: scale(1);
}
/* End Navbar */

/* Landing */
.landing {
	height: 80vh;
	background-image: url(/images/landing-bg.jpg);
	background-size: 100%;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.banner {
	position: absolute;
	left: 35%;
	bottom: 10rem;
	box-shadow: 0px 0px 25px 2px rgba(0, 0, 0, 0.8);
	background-color: rgba(0, 0, 0, 0.4);
}

.banner-heading {
	font-size: 8rem;
	text-transform: uppercase;
}

.banner-heading span {
	font-family: var(--ff-sans-disp);
	font-size: 8rem;
	color: #dba81b;
	letter-spacing: 0.5rem;
}

.banner-content {
	align-items: center;
}

.banner-content p {
	width: 40rem;
	font-size: 1.5rem;
	margin-right: 2rem;
	line-height: 1.5;
	text-align: left;
}

.banner-content button {
	width: 15rem;
	height: 5rem;
	background-color: transparent;
	border: 0.3rem solid #fff;
	font-size: 1.6rem;
	font-weight: 700;
	text-transform: uppercase;
	cursor: pointer;
}
/* End Landing */

/* About */

.about {
	height: 70vh;
	background-color: #313133;
}

.grid-container-about {
	grid-template-areas: ". about-left about-left about-right about-right .";
	column-gap: var(--container-gap, 10rem);

	text-align: left;
	align-items: center;
}

.grid-container-about .about-left {
	grid-area: about-left;
	flex-direction: column;
	justify-self: flex-end;
}

.grid-container-about .about-right {
	grid-area: about-right;
	flex-direction: column;
	justify-self: flex-start;
}

.about-left h1 {
	font-family: var(--ff-sans-disp);
	line-height: 1.3;
	width: 40rem;
	margin-bottom: 6rem;
}

.about-left p {
	font-size: 2rem;
	width: 50rem;
	margin-bottom: 5rem;
}

.about-left button {
	width: 18rem;
	height: 5rem;
	background-color: transparent;
	border: 0.2rem solid #dba81b;
	color: #dba81b;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	cursor: pointer;
}

/* .frame {
	width: 50rem;
	height: 35rem;
	border: 3rem solid hsl(0, 0%, 33%);
	position: absolute;
	top: 15rem;
	right: 40rem;
} */

.about-img-wrapper {
	width: 80rem;
	height: auto;
	/* position: absolute; */
	/* top: 8rem;
	right: 33rem; */
}

.about-img-wrapper img {
	width: 70%;
	height: auto;
	/* object-fit: cover; */
}

/* .section-bottom {
	bottom: 2rem;
	right: 33rem;
	height: 12rem;
	border-right: 1rem solid #dba81b;
	text-align: right;
	padding-right: 2rem;
	padding-top: 5rem;
} */

.caption h3 {
	font-family: var(--ff-sans-normal);
	font-size: 1.5rem;
	color: hsl(var(--clr-white));
	letter-spacing: 0.2rem;
	margin-top: 2rem;
	width: 70%;
}
/* End About */

/* Projects */
.projects .grid-container-projects {
	display: grid;
	grid-template-columns: minmax(5rem, 1fr) repeat(4, minmax(0, 40rem)) minmax(5rem, 1fr);
	grid-template-areas:
		". title title title title ."
		". a b c d ."
		". e f g h .";
	column-gap: var(--container-gap, 5rem);
	grid-template-rows: repeat(3, min-content);
	row-gap: var(--container-gap, 8rem);
	align-items: center;
	text-align: left;
}

.projects {
	height: 43%;
}

.projects-heading {
	font-size: 6rem;
	color: #fff;
	margin: 10rem 0 0rem 0;
	letter-spacing: 0.8rem;
	grid-area: title;
	text-align: center;
}

.card1 {
	grid-area: a;
}
.card2 {
	grid-area: b;
}
.card3 {
	grid-area: c;
}
.card4 {
	grid-area: d;
}
.card5 {
	grid-area: e;
}
.card6 {
	grid-area: f;
}
.card7 {
	grid-area: g;
}
.card8 {
	grid-area: h;
}

.card .img-wrapper img {
	/* width: 40rem; */
	height: 40rem;
	object-fit: cover;
}

.card-content {
	width: 100%;
	height: 100%;
	text-align: left;
}

.card-btn {
	width: 18rem;
	height: 5rem;
	background-color: transparent;
	border: 0.2rem solid #dba81b;
	color: #dba81b;
	font-size: 1.8rem;
	letter-spacing: 0.1rem;
	cursor: pointer;
}

.card-content h1 {
	font-size: 2rem;
	color: #fff;
	margin-top: 3rem;
}

.card-content p {
	font-size: 1.6rem;
	color: #fff;
	margin-bottom: 4rem;
}

.designs {
	right: 11rem;
}
/* End Projects */

/* Customers */
.team {
	height: 80vh;
	background-color: #313133;
	padding-top: 5cqb;
	position: relative;
}

.team-heading {
	font-size: 6rem;
	color: #fff;
	margin: 10rem 0 0rem 0;
	letter-spacing: 0.8rem;
	text-transform: uppercase;
	text-align: center;
}

.team-content {
	/* width: 80%; */
	margin: 10rem auto;
	justify-content: space-evenly;
}

.team-card {
	position: relative;
}

.team-card img {
	width: 20rem;
	position: absolute;
	top: -5rem;
	right: 2rem;
	border-radius: 0.5rem;
	box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.1);
}

.team-card-content {
	width: 50rem;
	height: 22rem;
	background-color: #777;
	border-radius: 0.5rem;
	box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);
	padding: 2rem;
}

.team-card-content h1 {
	font-size: 2.5rem;
	color: #fff;
	margin-bottom: 1rem;
}

.team-card-content h3 {
	font-size: 1.8rem;
	color: #ccc;
	margin-bottom: 3rem;
}

.team-card-content i {
	font-size: 2rem;
	color: #fff;
}

.team-card-content p {
	font-size: 1.6rem;
	color: #fff;
}
/* End customers */

/* Contacts */
.contact {
	height: 25rem;
	justify-content: center;
	align-items: center;
	color: #fff;
}

.contact-content {
	width: 50%;
	justify-content: space-evenly;
}

.contact-content h1 {
	font-size: 3rem;
	text-transform: uppercase;
	columns: #ccc;
}

.contact-content input {
	width: 45rem;
	height: 4rem;
	background-color: transparent;
	padding: 1.5rem 1.5rem 2.2rem 0;
	border: none;
	border-bottom: 0.1rem solid #777;
	font-size: 1.8rem;
	color: #ccc;
	transition: border-bottom 0.3s;
	cursor: pointer;
}

.contact-content input:hover {
	border-bottom: 0.1rem solid #dba81b;
}

.contact-content input::placeholder {
	color: #ccc;
	letter-spacing: 0.1rem;
}

.contact-right {
	position: relative;
}

.contact-right i {
	font-size: 1.8rem;
	position: absolute;
	top: 20%;
	right: 0;
	color: #ccc;
	cursor: pointer;
}
/* End Contacts */

/* Footer */
.footer {
	width: 100%;
	height: 8rem;
	background-color: #202020;
	border-top: 0.1rem solid #3e3e41;
	position: relative;
}

.brand-footer {
	position: absolute;
	top: 3.5rem;
	left: 20%;
	align-items: flex-start;
}

.brand-footer .logo1 {
	width: 3rem;
	height: 3rem;
	border: 0.2rem solid #dba81b;
}

.brand-footer .logo2 {
	width: 2.5rem;
	height: 2.5rem;
	background-color: #202020;
	top: 0.7rem;
	left: 0.7rem;
}

.brand-footer .logo3 {
	width: 2.5rem;
	height: 2.5rem;
	border: 0.2rem solid #dba81b;
	background-color: #202020;
	top: 1.3rem;
	left: 1.3rem;
}

.brand-footer span {
	font-size: 2rem;
	text-transform: uppercase;
}

.copyright {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: 20%;
	font-size: 1.6rem;
	color: #ccc;
}
/* End Footer */

/* End Container */

/* Responsive Design */
/* @media (max-width: 1700px) {
	.landing {
		height: 88vh;
	}
	.banner {
		left: 12rem;
	}

	.about-right {
		margin-right: 20rem;
	}

	.frame {
		width: 45rem;
		height: 30rem;
		right: 20rem;
	}

	.about-img-wrapper {
		width: 45rem;
		height: 30rem;
		right: 13rem;
	}

	.experience {
		right: 20rem;
	}

	.projects {
		height: 100%;
	}

	.cards {
		width: 80%;
		flex-wrap: wrap;
		justify-content: center;
		padding-bottom: 25rem;
	}

	.card {
		margin: 1.5rem;
	}

	.customers-content {
		width: 90%;
	}

	.client {
		right: 20rem;
	}

	.contact-content {
		width: 90%;
	}

	.brand-footer {
		left: 16%;
	}

	.copyright {
		right: 16%;
	}
}

@media (max-width: 1400px) {
	html {
		font-size: 55%;
	}

	.frame {
		width: 40rem;
		height: 25rem;
		right: 15rem;
	}

	.about-img-wrapper {
		width: 40rem;
		height: 25rem;
		right: 8rem;
	}

	.experience {
		right: 12rem;
	}
}

@media (max-width: 1200px) {
	html {
		font-size: 49%;
	}

	.about-left p {
		width: 40rem;
	}

	.customers-content {
		width: 100%;
	}

	.client {
		right: 10rem;
	}

	.contact-content {
		width: 100%;
	}

	.brand-footer {
		left: 10%;
	}

	.copyright {
		right: 10%;
	}
}

@media (max-width: 900px) {
	html {
		font-size: 45%;
	}

	.search-bar input {
		width: 30rem;
	}

	.banner-heading {
		font-size: 7rem;
		text-transform: uppercase;
	}

	.banner-heading span {
		font-size: 7rem;
	}

	.banner-content p {
		font-size: 1.7rem;
		width: 35rem;
	}

	.about {
		align-items: flex-start;
		padding-top: 12rem;
		height: 50vh;
	}

	.about-left h1 {
		font-size: 3rem;
		width: 35rem;
	}

	.about-left p {
		width: 35rem;
		font-size: 1.7rem;
	}

	.frame {
		width: 30rem;
		height: 15rem;
		border: 1.5rem solid #555;
		right: 10rem;
	}

	.about-img-wrapper {
		width: 30rem;
		right: 7rem;
		top: 12rem;
		height: 15rem;
	}

	.experience {
		right: 7rem;
	}

	.customers {
		height: 100%;
		padding-bottom: 12rem;
	}

	.customers-content {
		flex-direction: column;
		align-items: center;
	}

	.customers-card {
		margin: 8rem;
	}

	.contact-content {
		flex-direction: column;
		align-items: center;
	}

	.contact-left {
		margin-bottom: 4rem;
	}
}

@media (max-width: 600px) {
	html {
		font-size: 35%;
	}

	.brand-navbar span {
		display: none;
	}

	.navigation a {
		font-size: 3rem;
	}

	.navigation a::before,
	.navigation a::after {
		width: 10rem;
	}

	.navigation a::before {
		left: -13rem;
	}
	.navigation a::after {
		right: -13rem;
	}

	.landing {
		height: 83vh;
	}

	.banner {
		left: 5rem;
	}

	.banner-heading {
		font-size: 5rem;
		text-transform: uppercase;
	}

	.banner-heading span {
		font-size: 5rem;
	}

	.about {
		justify-content: center;
		height: 100%;
		padding: 10rem 0 25rem 0;
	}

	.about-left {
		text-align: center;
		margin-right: 0;
	}

	.about-right {
		display: none;
	}

	.projects-heading {
		font-size: 6rem;
	}

	.customers-heading {
		font-size: 6rem;
	}
} */

/* End Responsive Design */
